.home {
    color:black;
    margin-top:100px;
  }
  .progress-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  .web-dev{
    display:flex;
    align-items: center;
    justify-content: center;
    color:blanchedalmond;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    letter-spacing: 1px;
  }